<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{232,202}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{232,202}}</string>
                <key>sourceSize</key>
                <string>{260,202}</string>
            </dict>
            <key>killNumC_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,510},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,235},{30,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,65}</string>
            </dict>
            <key>killNumC_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,484},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,438},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,204},{50,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>killNumC_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,392},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,530},{39,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,65}</string>
            </dict>
            <key>killNumC_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,300},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNumC_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,254},{45,49}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>killNum_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,510},{38,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,65}</string>
            </dict>
            <key>overDesk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1},{116,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,81}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>overDesk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,469},{116,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{116,77}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>overDesk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,352},{116,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{116,77}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>overDesk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,235},{116,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{116,77}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>overDesk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,118},{116,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{116,77}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>overGhost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,349},{160,171}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,171}}</string>
                <key>sourceSize</key>
                <string>{160,175}</string>
            </dict>
            <key>overGhost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,436},{160,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,175}</string>
            </dict>
            <key>overGranny_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,320},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
            <key>overGranny_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,320},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
            <key>overGranny_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,233},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
            <key>overGranny_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,204},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
            <key>overGranny_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,117},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
            <key>overGranny_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
            <key>overGranny_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,117},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
            <key>overGranny_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
            <key>overGranny_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,117},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
            <key>overGranny_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1},{115,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,172}}</string>
                <key>sourceSize</key>
                <string>{115,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>countScene.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ce576ea9b5f4fe408fb8986d629a448$</string>
            <key>textureFileName</key>
            <string>countScene.png</string>
        </dict>
    </dict>
</plist>
