<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_d.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>band.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1747},{189,293}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{189,293}}</string>
                <key>sourceSize</key>
                <string>{219,349}</string>
            </dict>
            <key>guide_beginno.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1073},{78,48}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,4},{78,48}}</string>
                <key>sourceSize</key>
                <string>{212,56}</string>
            </dict>
            <key>guide_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1153},{196,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{196,47}}</string>
                <key>sourceSize</key>
                <string>{212,51}</string>
            </dict>
            <key>menu_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1794},{88,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>menu_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1747},{88,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>menu_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1962},{76,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>menu_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1572},{88,86}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>menu_fontback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{552,363}}</string>
                <key>offset</key>
                <string>{-10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,363}}</string>
                <key>sourceSize</key>
                <string>{572,417}</string>
            </dict>
            <key>menu_ghost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,718},{231,353}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{231,353}}</string>
                <key>sourceSize</key>
                <string>{239,375}</string>
            </dict>
            <key>menu_giantup.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,482},{234,237}}</string>
                <key>offset</key>
                <string>{71,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,65},{234,237}}</string>
                <key>sourceSize</key>
                <string>{572,417}</string>
            </dict>
            <key>menu_granny.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{478,247}}</string>
                <key>offset</key>
                <string>{-28,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,63},{478,247}}</string>
                <key>sourceSize</key>
                <string>{572,417}</string>
            </dict>
            <key>menu_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1962},{74,72}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,72}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>menu_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1662},{93,83}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{93,83}}</string>
                <key>sourceSize</key>
                <string>{107,103}</string>
            </dict>
            <key>menu_kung.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1562},{185,111}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,88},{185,111}}</string>
                <key>sourceSize</key>
                <string>{441,229}</string>
            </dict>
            <key>menu_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1882},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>menu_options.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1482},{88,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>menu_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1028},{256,164}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,164}}</string>
                <key>sourceSize</key>
                <string>{270,164}</string>
            </dict>
            <key>menu_pow.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1437},{191,123}}</string>
                <key>offset</key>
                <string>{82,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,27},{191,123}}</string>
                <key>sourceSize</key>
                <string>{441,229}</string>
            </dict>
            <key>menu_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1835},{87,86}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{87,86}}</string>
                <key>sourceSize</key>
                <string>{103,110}</string>
            </dict>
            <key>menu_soul1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1482},{149,185}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{149,185}}</string>
                <key>sourceSize</key>
                <string>{177,187}</string>
            </dict>
            <key>menu_soul2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1286},{149,161}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{149,161}}</string>
                <key>sourceSize</key>
                <string>{177,187}</string>
            </dict>
            <key>menu_soul3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1675},{147,161}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{147,161}}</string>
                <key>sourceSize</key>
                <string>{177,187}</string>
            </dict>
            <key>menu_stash.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1633},{184,159}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{184,159}}</string>
                <key>sourceSize</key>
                <string>{198,183}</string>
            </dict>
            <key>menu_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1794},{109,100}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{109,100}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>startHard.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1352},{201,128}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{201,128}}</string>
                <key>sourceSize</key>
                <string>{241,138}</string>
            </dict>
            <key>startHard_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1203},{201,147}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{201,147}}</string>
                <key>sourceSize</key>
                <string>{263,165}</string>
            </dict>
            <key>startSimple.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1073},{202,128}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{202,128}}</string>
                <key>sourceSize</key>
                <string>{230,138}</string>
            </dict>
            <key>welcome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{592,352}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,77},{592,352}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene_ch.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e5d5c62ef7c17dcdcbdc2ef474c4764$</string>
            <key>textureFileName</key>
            <string>mainScene_ch.png</string>
        </dict>
    </dict>
</plist>
