<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MagnetismIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,230},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>MagnetismIcon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,78},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>automat.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,599},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>automat_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,941},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,451},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>bb_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,865},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>coinDrop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1858},{18,21}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>coinDrop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1858},{16,25}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{16,25}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>coinDrop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1858},{18,23}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,44},{18,23}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>coinDrop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1858},{18,23}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,58},{18,23}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>coinDrop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2018},{22,23}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,58},{22,23}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>coinDrop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2018},{22,23}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,58},{22,23}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>coinDrop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2018},{26,19}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{26,19}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>coinDrop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{26,19}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,63},{26,19}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>coinDrop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2032},{24,11}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{24,11}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>crutch.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,299},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>crutch_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,789},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>elasticBallIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,73},{67,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>elasticBallIcon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,713},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>fire_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,637},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>guideCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1424},{120,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{120,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guideHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1146},{109,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,146}}</string>
                <key>sourceSize</key>
                <string>{109,146}</string>
            </dict>
            <key>guidePoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1988},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>guideUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1028},{130,305}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,305}}</string>
                <key>sourceSize</key>
                <string>{130,323}</string>
            </dict>
            <key>iceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,154},{67,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>iceIcon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,561},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icestone.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,78},{82,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icestone_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,485},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>iconGrannyStorm.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,808},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>iconGrannyStorm_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,455},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>iconTank.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,739},{67,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>iconTank_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,382},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{82,74}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>laser_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,306},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>masterIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,138},{92,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>rabbitBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,877},{63,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{63,61}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>rabbitBuy_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>relive.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,382},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>relive_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,154},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rookieIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,321},{86,78}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{86,78}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>rush.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,528},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>rush_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,230},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,950},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>shield_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,409},{74,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shopLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{803,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,68}}</string>
                <key>sourceSize</key>
                <string>{803,68}</string>
            </dict>
            <key>shopPurchased.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1985},{128,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,51}}</string>
                <key>sourceSize</key>
                <string>{132,55}</string>
            </dict>
            <key>shopgetit.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1858},{128,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,51}}</string>
                <key>sourceSize</key>
                <string>{132,55}</string>
            </dict>
            <key>skillup.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,881},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>skillup_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,941},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>slow.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,812},{67,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>slow_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,865},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sorrycontinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1809},{196,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{196,47}}</string>
                <key>sourceSize</key>
                <string>{212,51}</string>
            </dict>
            <key>sorrymore.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1985},{196,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{196,47}}</string>
                <key>sourceSize</key>
                <string>{212,51}</string>
            </dict>
            <key>stashGuideRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,232},{87,65}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{87,65}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
            <key>stashNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1283},{94,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,71}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>stashSorry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{592,352}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{592,352}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>stash_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1878},{165,152}}</string>
                <key>offset</key>
                <string>{29,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{165,152}}</string>
                <key>sourceSize</key>
                <string>{223,198}</string>
            </dict>
            <key>stashback.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{180,68}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{180,68}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>storm.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,741},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>storm_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,789},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>thankyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{1024,212}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{1024,212}}</string>
                <key>sourceSize</key>
                <string>{1024,260}</string>
            </dict>
            <key>throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,670},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>throw_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,713},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>thump.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,232},{82,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>thump_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,637},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>thunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,670},{67,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>thunder_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,561},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>thunderbeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,599},{67,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>thunderbeam_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,485},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timestop.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,528},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>timestop_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,409},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tooth.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,308},{67,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>tooth_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,154},{74,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>upgrade_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{795,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,105}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_bUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1028},{779,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{779,91}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1668},{110,100}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>upgrade_btnGetcoinBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{466,131}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{466,131}}</string>
                <key>sourceSize</key>
                <string>{500,131}</string>
            </dict>
            <key>upgrade_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1546},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>upgrade_buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,348},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>upgrade_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1335},{43,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,43}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>upgrade_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1335},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{39,33}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>upgrade_getFreecoinDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,900},{210,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{210,80}}</string>
                <key>sourceSize</key>
                <string>{232,110}</string>
            </dict>
            <key>upgrade_getFreecoin_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,470},{210,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{210,80}}</string>
                <key>sourceSize</key>
                <string>{232,110}</string>
            </dict>
            <key>upgrade_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1701},{795,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,105}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_lock.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{795,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,105}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_lockground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1985},{465,31}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,58},{465,31}}</string>
                <key>sourceSize</key>
                <string>{795,105}</string>
            </dict>
            <key>upgrade_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1294},{128,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>upgrade_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1028},{253,66}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{253,66}}</string>
                <key>sourceSize</key>
                <string>{261,74}</string>
            </dict>
            <key>upgrade_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1335},{31,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{31,41}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>upgrade_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,470},{99,266}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,49},{99,266}}</string>
                <key>sourceSize</key>
                <string>{151,372}</string>
            </dict>
            <key>upgrade_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,738},{155,160}}</string>
                <key>offset</key>
                <string>{34,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,38},{155,160}}</string>
                <key>sourceSize</key>
                <string>{223,198}</string>
            </dict>
            <key>upgrade_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,982},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{162,64}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>upgrade_upgrade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,184},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{162,64}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>upgrade_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{133,134}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,14},{133,134}}</string>
                <key>sourceSize</key>
                <string>{223,198}</string>
            </dict>
            <key>upgrade_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{795,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,210}}</string>
                <key>sourceSize</key>
                <string>{795,210}</string>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,212}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{1024,212}}</string>
                <key>sourceSize</key>
                <string>{1024,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stash_ch.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:368aa67b3bf2868ef79773258fd2185b$</string>
            <key>textureFileName</key>
            <string>stash_ch.png</string>
        </dict>
    </dict>
</plist>
